.swal-container {
    
}

.swal-popup {
    border: 1px solid #8fa3d5 !important;
    background: #1e2536 !important;
}

.swal-header {

}

.swal-title {
    color: #b8c2cd !important;
}

.swal-close-button {

}

.swal-icon {

}

.swal-image {

}

.swal-content {

}

.swal-html-container {
    color: #b8c2cd !important;
}

.swal-input {

}

.swal-actions {

}

.swal-confirm-button {
    background: #467fc7 !important;
}

.swal-footer {

}